# --------
# .aliases
# --------

alias ll="ls -aohG"
alias grep="grep --color=auto"
alias stata="/Applications/Stata/StataMP.app/Contents/MacOS/stata-mp"
alias emacs="/usr/local/bin/emacs -nw"
alias EMACS="/usr/local/bin/emacs -nw"
alias R="R --no-save"

# ------------------------------------------------------------------------------
# ------------------------------------------------------------------------------
